{{> head}}
    {{> navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Titulo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, temporibus architecto assumenda doloribus explicabo deleniti, soluta laborum facere praesentium dignissimos sunt totam eius quasi dolore ea neque ipsa voluptatem blanditiis?</p>
            </div>
            <div class="col-md-4">
                <img class="img-thumbnail" src="assets/img/spiderman.png" alt="">
            </div>
        </div>
    </div>

{{> footer}}